version: "3.9"

services:
  api:
    image: my_api_image
    container_name: api_service

    # Map serial port

    # Quyền truy cập thiết bị (quan trọng)
    privileged: true

    # Expose REST API
    services:
      rest_api:
        build: .
        env_file:
          - .env.dev
        ports:
          - "9000:9000"   # BỎ nếu chỉ dùng container ↔ container
          - "9001:9001"

    networks:
      - app_net

    restart: unless-stopped

networks:
  app_net:
    driver: bridge
